<h1>Editing sensor_type</h1>

<% form_for(@sensor_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :data_type %><br />
    <%= f.text_field :data_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sensor_type %> |
<%= link_to 'Back', sensor_types_path %>
