<h1>New sensor</h1>

<% form_for(@sensor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :sensor_type_id %><br />
    <%= f.text_field :sensor_type_id %>
  </p>
  <p>
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sensors_path %>
